.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.social_pad {
    padding: 5px;
}

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.main {
    flex: 1 0 auto;
  }

  .section {
      height: 400px;
  }

  .overflow{
      overflow-y: hidden;
  }

.h2 {
    font-size: 3.56rem;
    line-height: 110%;
    padding: 20px;
    margin: 2.3733333333rem 0 1.424rem 0;
}
  